@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Didact Gothic', sans-serif;
}
body{
    overflow-x:hidden ;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}
#profile{
    position: relative;
    width: 100%;
    margin:20px;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;

    gap: 30px;
}
#profile img{
    margin-left: 25px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid hsl(207, 90%, 61%);
    
}

.profile__info{
    color: #34495e;
}
.profile__info .web{
    color:  #bdc3c7;
}
.profile__info .correo{
    margin-top: 10px;
}
.profile__socialm{
    margin-left: 60px;
}
.profile__socialm ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile__socialm ul li{
    
    list-style: none;
}
.profile__socialm ul li a{
    display: flex;
    align-items: center;
    color: #34495e;
}

.profile__socialm ul li i{
    font-size: 30px;
    
}
.profile__opt{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-left: 80px;
}

.profile__opt a{
    background-color: hsl(207, 90%, 61%);
    padding: 12px 40px;
    font-weight: bold;
    color: #fff;
    border-radius: 7px;
}

.nav{
    width: 100%;
   
 
    margin-left:20px;
}
.nav nav{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.nav a{
    position: relative;
    font-size: 18px;
    padding: 5px;
    color: #34495e;
    transition: 0.5s ease;

}
.nav a:hover{
    
    border-radius: 7px;
    background-color: #34495e25;

}
.nav .active::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 100%;

    height: 5px;
    background-color: #34495e;
}
.proyectos{
    margin: 50px;

    display:grid;
    gap:1rem;
    grid-auto-rows:15rem;
    grid-template-columns:repeat(auto-fill, minmax(min(100%,16rem), 1fr));
}

.cont_pro{
    position:relative;
    overflow:hidden;
}

.cont_pro:hover .info_pro{
    bottom:10px;
    visibility:visible;
    transition: 0.4s ease;
	
}
.cont_pro:hover img{
    filter:brightness(35%);
    transition:0.5s ease;
}


.proyectos img {
    border-radius: 7px;
    width:100%;
    height:100%;
    object-fit: cover; 
    cursor:pointer;
    transition:0.3s ease-in;
}


.info_pro{
    margin:0 15px;
    color:#fff;
    position:absolute;
    bottom:-300px;
    visibility:hidden;
    transition:0.5s ease;
    display:flex;
    flex-direction:column;
    height:90%;
    
    justify-content:space-around;
}

.head a{
    text-decoration:none;
    color:#fff;
    font-weight:bold;
}
.head a i{
    font-size:1.6rem;
}
.info h4{
    font-size:20px;
    
}
.info p, .skills{
    
    opacity:0.6;
}

.mymodal{
    visibility: hidden;
    position:fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0.582);
    color: #fff;
}
.modal-content{
    width: 90vw;
    height: 90vh;
    background-color: #bdc3c7;
    display: flex;
    
}
.modal-content img{
    width:80%;
    height:100%;
}
.habilidades{
    margin-top:50px;
    display:none;
    align-item:center;
    justify-content:center;
}

.content_abi{
    width:60%;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
    gap:30px;
}
.element{
    display:flex;
    align-items:center;
    flex-direction:column;
    color:#34495e;
}

.element p{
    font-weight:bold;
}
#icon{
    cursor:pointer;
    font-size:3.5rem;

}

.bxl-html5{
    color:#FD5E53;

}

.bxl-css3{
    color:#3c99dc;

}
.bxl-javascript{
    color:#F0DB4F;

}
.bxl-react{
    color:#62DbFB;
}

.bxl-angular{
    color:#dd1b16;

}
.bxl-git{
    color:#FD5E53;

}

.bxl-nodejs{
    color:#3c873A;

}

.bxl-tailwind-css{
    color:#3c99dc;

}

.bxl-firebase{
    color:#ffa611;

}

.bxl-postgresql{
    color:#20639B;

}

.element img{
    width:50px;
    height:50px;
    margin:12px 0;
    cursor:pointer;
}
#icon path{

    fill:#007acc;

}
@media (max-width:880px){
    .profile__socialm ul {
	flex-direction:row;
    }
}
@media (max-width:600px){
    #profile{
	margin:20px 0;
	align-items:center;
	justify-content:center;
    }
    .profile__opt{
	margin:0;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
    }
    .profile__opt a{


    }
    .profile__socialm{
	position:absolute;
	top:0;
	right:0;
    }
    .profile__socialm ul {
	flex-direction:column;
    }
    .profile__socialm ul li a{
	color:#FFF;
    }
    .profile__socialm ul li a i{
	color: #34495e;
    }


}
